@use '../common/doc' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
	background: $color-white;
	

  @media screen and (min-width: $breakpoint-desktop) {
    display: none;
  }

  .button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
}


  /* Бургер */
  &__burger {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;

    &:focus,
    &:active {
      outline: none;
      border: none;
    }
  }

  /* ---------------- MOBILE / TABLET MENU WRAPPER ---------------- */
  &__menu-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: $breakpoint-tablet) {
      gap: 42px;
    }
  }

  /* ---------------- LOGO + DIVIDER ---------------- */
&__logo {
  position: relative;
	display: flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    width: 2px;
    background-color: $color-border;
    border-radius: 1px;
		display: block;
    align-self: center;

    /* Мобильная версия — разделитель СПРАВА */
    right: -20px;
    left: auto;

    /* Планшетная версия — разделитель СЛЕВА */
    @media screen and (min-width: $breakpoint-tablet) {
      left: -20px;
      right: auto; /* ← обязательно сбрасываем */
    }
  }
}

  /* ---------------- ACTIONS (ПРАВАЯ ЧАСТЬ) ---------------- */
  &__actions {
    display: flex;
    gap: 16px;

    /* Первые 3 кнопки скрыты на мобилке */
    li:nth-child(1),
    li:nth-child(2),
    li:nth-child(3) {
      display: none;

      @media screen and (min-width: $breakpoint-tablet) {
        display: block;
      }
    }
  }

  /* ---------------- DIVIDER AFTER PROFILE (TABLET) ---------------- */
  &__divider {
    display: block;
    width: 2px;
    height: 32px;
    background-color: $color-border;
    border-radius: 1px;
		

    @media screen and (min-width: $breakpoint-tablet) {
      display: none;
    }
  }

  /* ---------------- MOBILE ONLY BUTTONS ---------------- */
  .mobile-only {
    display: block;
		padding-left: 20px;

    @media screen and (min-width: $breakpoint-tablet) {
      display: none;
    }
  }

  /* ---------------- TABLET ONLY BUTTONS ---------------- */
  .tablet-only {
    display: none;
	  align-self: center;

    @media screen and (min-width: $breakpoint-tablet) {
      display: block;
    }
  }
}