@use '../common/doc' as *;

.services-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;

  overflow-x: auto;
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  padding: 24px 16px 0 16px;
  background-color: $color-background;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    overflow: visible;
    flex-wrap: wrap;
    scroll-snap-type: none;
  }

  &__service {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    color: $color-text-secondary;
    white-space: nowrap;

    border: 2px solid transparent;
    border-radius: 6%;
    transition: 0.3s ease;

    min-width: max-content;
    scroll-snap-align: start;

    &:hover {
      border-color: #B8FFEC;
      background-color: $color-white;
    }

    &--checked {
      border-color: #B8FFEC;
      background-color: $color-white;
    }
  }
}