@use '../common/doc' as *;

.side-menu {
  visibility: hidden;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-white;
  width: 320px;
  height: 100%;
  z-index: 1000;
  box-shadow: 16px 0 20px $color-shadow;
  overflow-y: auto;
  transition: transform 0.3s ease, visibility 0.3s ease;
	color: #1B1C21;
  font-size: 16px;
  font-family: 'TT Lakes', sans-serif;
  font-weight: 500;

  &.open {
    visibility: visible;
    transform: translateX(0);
  }

   @media screen and (min-width: $breakpoint-desktop) {
  visibility: visible;
  transform: translateX(0);
	position: static; 
  height: auto;
  width: 328px;
	box-shadow: none;
}

  /* ---------------- HEADER ---------------- */
  &__header {
    display: grid;
    grid-template-columns: 40px auto 1fr;
    align-items: center;
    padding: 18px 24px 0 24px;
    gap: 17px;

    @media screen and (min-width: $breakpoint-desktop) {
      grid-template-columns: 40px auto;
    }
  }

  /* Кнопка закрытия */
  .button--close-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;

		@media screen and (min-width: $breakpoint-desktop) {
    display: none;
		}
  }

  /* ---------------- OPTIONS LIST ---------------- */
  &__options-list {
    list-style: none;
    margin: 0;
    padding: 46px 24px 0 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-weight: 500;

    li {
      position: relative;
      cursor: pointer;

      a {
        color: #1B1C21;
        text-decoration: none;
        transition: color 0.3s ease;
      }

      &:hover a {
        color: #7E7E82;
      }

      /* Маркер */
      &::before {
        content: "";
        position: absolute;
        left: -24px;
        top: 50%;
        transform: translate(-4px, -50%);
        width: 4px;
        height: 32px;
        border-radius: 6px;
        background-color: #41F6D7;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
      }

      &:hover::before {
        opacity: 1;
        transform: translate(0, -50%);
      }

      /* Активный пункт */
      &.version-list__item--checked {
        color: #7E7E82;

        &::before {
          opacity: 1;
          transform: translate(0, -50%);
        }
      }
    }
  }

  /* ---------------- FOOTER ---------------- */
  &__footer {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    margin-top: auto;

    @media screen and (min-width: $breakpoint-desktop) {
      margin-top: 205px;
    }
  }

  &__footer-controls {
    display: flex;
    gap: 16px;

    button {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  /* ---------------- CONTACTS ---------------- */
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    letter-spacing: -0.2px;

    a {
      color: $color-text-primary;
      text-decoration: none;
    }

    /* Телефон */
    a:nth-child(2) {
      color: #1B1C21;
      font-size: 24px;
      font-family: 'TT Lakes', sans-serif;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.6px;
    }
  }

  /* ---------------- LANGUAGES ---------------- */
  &__languages {
    display: flex;
    gap: 7px;
    margin-top: 40px;
    letter-spacing: -0.2px;
    font-weight: 500;

    .language {
      color: #1B1C21;
      font-size: 16px;
      font-family: 'TT Lakes', sans-serif;
      font-weight: 500;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #7E7E82;
      }
    }
  }
}